textarea{
    color: blue;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 7px;
}
.headingD div {
    font-size: 14px;
    line-height: 14px;
}
.margin{
margin-top:15px;
margin-bottom:15px;
}
.labelbutton{
	color:#fff;
	text-align:center;
}
.headingB_body{
	padding-top:15px;
	padding-bottom:15px;
}
input.settingId {
    height: 30px;
    border-radius: 5px;
	border:0px;

}
button.settingbutton {
	height: 30px;
    border-radius: 5px;
	background:#fff;
	border:0px;
}
 .headingG{
	color:#000;
	margin-top:15px;
	margin-bottom:15px;
}
.headingB_top{
	
	padding-top:15px;
	padding-bottom:15px;
	margin-top:15px;
	margin-bottom:15px;
}
.headingD{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
.headingc_top{
	color:#000;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow:5px 5px 10px #dadada;
}
.headingB_top3{
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
}
.loginscreen{
  text-align:left;
  margin:50px 0 0 50px;  
}
.btn-round-lg{
border-radius: 22.5px;
}
.padding{
	margin-top:15px;
	margin-bottom:15px;
}
.btn-round{
    border-radius: 8px !important;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

.aligncenter{
text-align:center;	
	
}
#ios{
  visibility: hidden;
  position: absolute;
}

.button {
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  margin-bottom: 200px;
  margin-top: -100px;
  background: #fff;
  width: 130px;
  height: 75px;
  cursor: pointer;
  will-change: background;
}
.button.ios {
  border-radius: 100px;
  position: relative;
  -webkit-transition: 0s background 0.25s ease-in-out;
  transition: 0s background 0.25s ease-in-out;
  height:75px;
}
.button.ios:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  content: '';
  display: block;
  border-radius: 100px;
  will-change: transform;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  will-change: background;
}
.button.ios:after {
  position: absolute;
  display: block;
  content: '';
  height: 65px;
  width: 65px;
  top: 5px;
  left: 5px;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.button.ios:active:after {
  width: 80px;
}

input[type=checkbox]:checked + label.ios {
  background-color: green;
  -webkit-transition: 0s background 0s ease-in-out;
  transition: 0s background 0s ease-in-out;
}
input[type=checkbox]:checked + label.ios:after {
  -webkit-transform: translateX(55px);
          transform: translateX(55px);
}
input[type=checkbox]:checked + label.ios:active:after {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}
input[type=checkbox]:checked + label.ios:before {
  -webkit-transform: translateX(15px) scale(0.1);
          transform: translateX(15px) scale(0.1);
}
.description {
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    padding: 6px;
}
.panel-heading {
  padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#fff !important;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
	margin-top:-15px;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 
